---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import Aside from "../../components/aside.astro";
const BannerImg = "../../public/images/stamp013-1.png";
---

<BaseLayout pagetitle="關於網站" bodyClass="aboutPage">
  <BannerLayout pagetitle="關於我們" BannerImg={BannerImg}>
    <section class="aboutContentArea">
      <Aside asideTitle="關於我們">
        <li class="asideItem"><a href="/abouts/aboutStory">建立-故事</a></li>
        <li class="asideItem" style="color: #fcd88b; cursor: default;">
          關於網站
        </li>
      </Aside>

      <div class="aboutContent">
        <h3 class="contentTitle">關於網站</h3>
        <p class="contentArticle">
          Sure, here's a story about creating a stamp collection website in
          English: <br /><br />

          In a bustling city, a young man named Alex was deeply passionate about
          stamp collecting. His home was filled with rare and valuable stamps,
          and he spent countless hours studying their history, value, and
          design. Over time, he found his collection growing more impressive,
          but he lacked an easy way to showcase and share his prized stamps. <br
          /><br />

          One day, Alex decided to turn his hobby into a business. He envisioned
          creating a website for stamp enthusiasts—a platform where people could
          easily display, trade, and discuss stamps. His vision was not just to
          create a showcase but to build a vibrant community full of enthusiasm
          and knowledge. <br /><br />

          Alex began his ambitious project by designing a website prototype. He
          chose a clean and elegant interface that would allow users to upload
          photos of their stamps, add detailed descriptions, and provide
          historical context. The site also featured an interactive forum where
          collectors could share experiences, discuss stamp values and designs,
          and even conduct trades. <br /><br />

          During the design process, Alex spent a lot of time researching user
          needs. He wanted the website to be more than just a display platform;
          he aimed to create an active community. He invited several stamp
          experts and collectors to test the site and made adjustments based on
          their feedback. <br /><br />

          When the website finally launched, the response exceeded Alex's
          expectations. Stamp enthusiasts from around the world flocked to the
          platform, eager to showcase their collections and connect with other
          collectors. Alex watched in delight as the community grew and
          flourished. He knew that the website had not only fulfilled his dream
          but also provided a unique space for stamp lovers everywhere to
          connect and share their passion. <br /><br />
        </p>
      </div>
    </section>
  </BannerLayout>
</BaseLayout>
