---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import Aside from "../../components/aside.astro";
import LightBox from "../../components/lightBox.astro";
const BannerImg = "/images/stamp013-1.png";

export async function getStaticPaths() {
  const response = await fetch(
    "https://drc-api.hopto.org/api/exhibits-list.php",
  );
  const type = await response.json();
  const typelist = type.map((item) => {
    return { params: { exhibit: `${item.typeEN}` } };
  });
  return typelist;
}

const response = await fetch(
  "https://drc-api.hopto.org/api/exhibits-list.php",
);
const type = await response.json();
---

<BaseLayout pagetitle="展品介紹" bodyClass="exhibitPage">
  <BannerLayout pagetitle="展品介紹" BannerImg={BannerImg}>



    <section class="exhibitContentArea">
      <Aside asideTitle="展品介紹">
        {
          type.map((item) => {
            return (
              <li class="asideItem">
                <a href={`/exhibits/${item.typeEN}`}>{item.type}</a>
              </li>
            );
          })
        }
      </Aside>

      <div class="exhibitList">

        <div class="searchArea">
          <form action="">
            <div class="form_country">
              國家:

            </div>

           
          </form>
        </div>

      </div>

    </section>

    <LightBox />

  </BannerLayout>

  <script src="/src/scripts/itemList.js"></script>

</BaseLayout>

