---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import Aside from "../../components/aside.astro";
import LightBox from "../../components/lightBox.astro";
const BannerImg = "/images/stamp013-1.png";

export async function getStaticPaths() {
  const response = await fetch(
    "https://drc-collector.com/api/exhibits-list.php",
  );
  const type = await response.json();
  const typelist = type.map((item) => {
    return { params: { exhibit: `${item.typeEN}` } };
  });
  return typelist;
}

const response = await fetch("https://drc-collector.com/api/exhibits-list.php");
const type = await response.json();
---

<BaseLayout pagetitle="展品介紹" bodyClass="exhibitPage">
  <BannerLayout pagetitle="展品介紹" BannerImg={BannerImg} pageSubTitle="郵票">
    <section class="exhibitContentArea">
      <Aside asideTitle="展品介紹">
        {
          type.map((item) => {
            return (
              <li class="asideItem">
                <a href={`/exhibits/${item.typeEN}`}>{item.type}</a>
              </li>
            );
          })
        }
        <li class="asideItem">
          <a href=`/exhibits/Stamp`>郵票</a>
        </li>
      </Aside>

      <div class="exhibitList">
        <div class="searchArea">
          <form action="" id="formArea">
            <div class="form_country">
              國家:
              <select name="" id="country">
                <option value="">---選擇國家---</option>
              </select>
            </div>
            <div class="form_year">
              年份:
              <input
                type="text"
                maxlength="4"
                placeholder="請輸入西元起始年分"
                class="yearStart"
              />
              ~
              <input
                type="text"
                maxlength="4"
                placeholder="請輸入西元結束年分"
                class="yearEnd"
              />
            </div>
            <button type="submit">查詢</button>
            <button type="reset">清除</button>
          </form>
        </div>
      </div>
    </section>

  <button class="loadingBtn">加載更多</button>

    <LightBox />
  </BannerLayout>

  <script src="/src/scripts/lightbox.js"></script>
  <script src="/src/scripts/stamp.js"></script>
</BaseLayout>
