---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import Aside from "../../components/aside.astro";
const BannerImg = "../assets/stamp013-1.png";
---

<BaseLayout pagetitle="關於網站" bodyClass="aboutPage">
  <BannerLayout pagetitle="文章與郵集" BannerImg={BannerImg}>
    <section class="aboutContentArea">
      <Aside asideTitle="文章與郵集">
        <li class="asideItem">
          <a href="/articles/article">文章-閱讀</a>
        </li>
        <li class="asideItem"><a href="/articles/introduction">郵集-介紹</a></li>
        <li class="asideItem" style="color: #fcd88b;cursor: default;">
          郵集-故事
        </li>
        <li class="asideItem"><a href="/articles/exhibition">郵集-展示</a></li>
      </Aside>
    </section>
  </BannerLayout>
</BaseLayout>
