main {
  .innerBannerArea {
    position: relative;
    .innerBanner {
      display: flex;
      justify-content: center;
      background-color: #8f8f8f;
      overflow: hidden;
      img {
        margin-top: -150px;
        width: 1260px;
      }
    }
    .BannerTitle {
      width: 300px;
      text-align: center;
      font-size: 40px;
      letter-spacing: 20px;
      position: absolute;
      top: 50%;
      left: calc(50% - 140px);
      color: aliceblue;
      transition: 0.5s;
      cursor: default;
      &:hover {
        color: #8b8b8b;
      }
    }
    .BannerSubTitle {
      font-size: 20px;
      position: absolute;
      bottom: 0;
      width: 500px;
      background-color: #fff;
      text-align: center;
      height: 100px;
      line-height: 100px;
      cursor: default;
      a {
        color: #411800;
      }
    }
  }
  .aboutContentArea {
    width: 1260px;
    margin: auto;
    padding: 50px 0 50px;
    display: flex;

    .aboutContent {
      margin-left: 50px;
      width: calc(100% - 150px);
      .contentTitle {
        font-size: 32px;
        letter-spacing: 3px;
        padding: 10px 0 20px;
        border-bottom: 1px solid #4d4d4d;
      }
      .contentArticle {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 2px;
      }
    }
  }
  .exhibitContentArea {
    width: 1260px;
    margin: auto;
    padding: 50px 0 50px;
    display: flex;
    .exhibitList {
      margin-left: 50px;
      width: calc(100% - 150px);
      display: grid;
      gap: 10px;
      justify-content: flex-start;
      grid-template-columns: 1fr 1fr 1fr;
      .searchArea {
        grid-column: 1 / 4;
      }
      .exhibititem {
        position: relative;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 320px;
        img {
          max-width: 80%;
          max-height: 80%;
          cursor: pointer;
        }
        .exhibitTitle {
          position: absolute;
          top: 0;
          font-size: 16px;
          letter-spacing: 2px;
          line-height: 20px;
          background: rgba(77, 77, 77, 0.6);
          color: #fff;
          padding: 10px;
          width: 60%;
          p {
            border-bottom: 1px solid #bebebe;
          }
        }
      }
    }
  }
  .lightBoxArea {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    padding: 100px 0 0 0;
    z-index: 100;
    display: none;
    .lightBox {
      max-width: 1400px;
      min-width: 1260px;
      height: 80%;
      background-color: #ffffff;
      margin: auto;
      position: relative;
      padding: 20px;
      display: flex;
      top: -5%;
      .lightBoxContent {
        width: 70%;
        .lightBoxImg {
          height: 100%;
          display: grid;
          justify-items: center;
          align-items: center;
          overflow: hidden;
          position: relative;
          img {
            max-width: 100%;
            max-height: 100%;
            transition: transform 0.2s ease;
            position: absolute;
            cursor: grab;
            transform-origin: top left;
          }
        }
      }
    }
    .lightBoxInfo {
      width: calc(30% - 40px);
      height: calc(100% - 20px);
      margin-left: 20px;
      padding: 10px;
      line-height: 30px;
      font-size: 18px;
      position: relative;
      .infoContent {
        background-color: #613c2646;
        height: 60%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: none;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: rgb(158, 143, 125);
        }

        p {
          margin-top: 10px;
          word-break: break-all;
        }
      }
      .secImg {
        width: calc(100% - 40px);
        height: calc(20% - 40px);
        padding: 20px;
        display: none;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        img.littleImg {
          height: 80%;
          cursor: pointer;
        }
      }
      .lightBoxclose {
        position: absolute;
        bottom: 20px;
        right: 20px;
        button {
          border: none;
          font-size: 20px;
          padding: 10px 25px;
          background-color: #816f64;
          color: #fff;
          cursor: pointer;
          letter-spacing: 5px;
        }
      }
    }
  }
}

.Aside {
  position: sticky;
  width: 150px;
  background-color: #4d4d4d;
  padding: 10px;
  top: 100px;
  letter-spacing: 2px;
  margin-left: 50px;
  .asideList {
    h3 {
      font-size: 24px;
      border-bottom: 1px solid #838383;
      padding: 10px;
      color: #b8a498;
      cursor: default;
    }
    .asideItem {
      padding: 10px;
      line-height: 50px;
      font-size: 18px;
      border-bottom: 1px solid #838383;
      a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1440px) {
  main {
    .lightBoxArea {
      .lightBox {
        width: 90%;
        min-width: 0;
      }
    }
  }
}
@media (max-width: 1260px) {
  main {
    .aboutContentArea {
      width: 90%;
    }
    .exhibitContentArea {
      width: 90%;
      justify-content: center;
      .exhibitList {
        grid-template-columns: 1fr 1fr;
        .searchArea {
          grid-column: 1 / 3;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  main {
    .aboutContentArea {
      width: 95%;

      .aboutContent {
        margin-left: 20px;
        .contentArticle {
          font-size: 16px;
        }
      }
    }
    .exhibitContentArea {
      .exhibitList {
        justify-items: center;
        .exhibititem {
          width: 250px;
        }
      }
    }
    .lightBoxArea {
      .lightBox {
        flex-direction: column;
        justify-content: space-between;
        .lightBoxContent {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          height: 50%;
          .lightBoxImg {
            height: auto;
            width: 70%;
          }
        }
        .lightBoxInfo {
          width: calc(100% - 20px);
          margin-left: 0;
          line-height: 20px;
          font-size: 16px;
          margin-top: 10px;
          height: 50%;
          .secImg {
            flex-direction: row;
            height: auto;
            img.littleImg {
              height: 60px;
            }
          }
        }
      }
    }
  }
  .Aside {
    width: 100px;
    .asideList {
      h3 {
        font-size: 18px;
      }
      .asideItem {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 768px) {
  main {
    .exhibitContentArea {
      .exhibitList {
        grid-template-columns: 1fr;
        .exhibititem {
          width: 300px;
          height: 300px;
        }
        .searchArea {
          grid-column: 1 / 2;

        }
      }
    }
  }
}
@media (max-width: 500px) {
  main {
    .innerBannerArea {
      .BannerSubTitle {
        position: relative;
        width: 100%;
        font-size: 24px;
      }
    }
    .aboutContentArea {
      flex-direction: column;
      padding: 20px 0 20px;

      .aboutContent {
        width: 95%;
      }
    }
    .exhibitContentArea {
      flex-direction: column;
      gap: 20px;
    }
    .lightBoxArea {
      .lightBox {
        .lightBoxContent {
          flex-direction: column;
          .lightBoxImg {
            width: auto;
            height: 100%;
          }
        }
        .lightBoxInfo {
          font-size: 14px;
          line-height: 15px;
          .lightBoxclose {
            button {
              padding: 5px 15px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .Aside {
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
    top: 0;
    .asideList {
      .asideItem {
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 375px) {
  main {
    .exhibitContentArea {
      .exhibitList {
        margin-left: 0;
      }
    }
  }
}
