---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sever from "../components/sever.vue";
import Article from "../components/article.vue";
import Loading from "../components/loading.astro";

---

<BaseLayout pagetitle="首頁" bodyClass="indexPage">
			<!-- loading動畫 -->
			<Loading/>
	<main>
		<section class="bannerArea">
			<div class="bannerBG">
				<img
					src="/images/stamp001-1.jpg"
					alt=""
					draggable="false"
				/>
			</div>

			<div class="bannerTex" data-rs>
				<h1 class="texTitle">
					<span>DRC收藏家</span>
				</h1>
				<h2 class="texSubtitle">
					<span>
						「用信封收藏，捕捉郵政歷史的精彩瞬間和文化演變，讓每封信封成為時光的見證者。」
					</span>
				</h2>
			</div>
		</section>

		<section class="introduceArea">
			<div class="titleTex" data-rs>
				<h2 class="titleHead">
					<span>介紹</span>
				</h2>
				<h3 class="titleBody">
					<span>introduce</span>
				</h3>
				<h4 class="titleCentent">
					<p>
						透過這些小小的紙片，我們能夠窺探世界的多樣風情，感受人類智慧與創造力的奇蹟。
						<br
						/>探索我們的信封收藏網站，這裡匯聚了所有熱愛郵政藝術和文化探索的愛好者。我們以信封為藍本，展示和探索著郵政歷史的深遠魅力。<br
						/>每一封信封都是一幅獨特的藝術品，承載著時代的印記和文化的精髓。<br
						/>在這個充滿文學和藝術氛圍的平台上，您將發現首日封的詩意韻味、郵政史信封的故事性深度，以及航空郵件信封所帶來的空中漫遊之感。我們通過精緻的圖像展示和詳盡的歷史背景介紹，帶您走進一個個富有詩意的郵政時光隧道。<br
						/>無論您是追求藝術美感還是愛好歷史故事，我們的網站都致力於為您提供深入的文化體驗和啟發。
					</p>
				</h4>
			</div>
			<div class="introduceImg">
				<img
					src="/images/stamp013-1.png"
					alt=""
					draggable="false"
				/>
			</div>
		</section>

		<section class="aboutArea">
			<div class="titleTex" data-rs>
				<h2 class="titleHead">
					<span>關於我們</span>
				</h2>
				<h3 class="titleBody">
					<span>about us</span>
				</h3>
			</div>
			<li class="aboutLi">
				<div class="titleTex beforeNone">
					<h4 class="titleCentent" data-rs>
						<span
							>這裡是一位酷愛集郵的老教授。集郵人生的收藏天地。<br />
							用另一個角度看世界，或許發現嶄新創見~~<br /><br />
							航天集郵的因緣：<br />
							我從小集郵·而收集航天郵集的開始時間是在1980年初，當時正在美國南加州大學攻讀博士學位，那一年美國太空總署發射了第一艘太空梭，同時我的論文指導老師宴德福教授幫美國政府分析，從阿波羅計畫攜帶回來的月球岩石中的碳氫化合物成分。每當我在實驗室中面對那一顆顆黑色的小岩石時，都會覺得人類要把它們從遙遠的月球，帶回地球是那么的不容易，也是許多科學家和工程師多年來努力的結果。從那時開始,透過洛杉磯當地的新聞媒體(如電視新聞和學校圖書館的報章雜誌)了解到了美國和俄羅斯發展太空火箭和太空船的歷史與過程，也開啟我的航天集郵生涯。<br
							/><br />
							張有義
						</span>
					</h4>
					<a href="/aboutWeb" class="aboutMore">了解更多</a>
				</div>
				<div class="aboutImg">
					<img src="/images/stamp001-2.jpg" alt="" />
				</div>
			</li>
			<li class="aboutLi">
				<div class="aboutImg2">
					<img src="/images/stamp002-1.jpg" alt="" />
				</div>
			</li>
			<div class="aboutBg"></div>
		</section>

		<section class="severArea">
			<div class="titleTex" data-rs>
				<h2 class="titleHead">
					<span>展覽介紹</span>
				</h2>
				<h3 class="titleBody">
					<span>Exhibition</span>
				</h3>
			</div>
			<div class="serveBg"></div>
			<div class="serveCarousel">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<Sever />
					</div>
				</div>
			</div>
		</section>

		<section class="articleArea">
			<div class="titleTex">
				<h2 class="titleHead">
					<span>文章</span>
				</h2>

				<h3 class="titleBody">
					<span>article</span>
				</h3>
			</div>

			<div class="articleContent">
				<div class="articleImg">
					<img src="/images/stamp004-2.jpg" alt="" />
				</div>

				<div class="articleInfo">
					<ul class="articleList">
						<Article />
					</ul>
					<a href="/articles/article" class="articleMore">了解更多</a>
				</div>
			</div>
		</section>
		
	</main>
</BaseLayout>
