---
const response = await fetch(
  "https://drc-api.hopto.org/api/exhibits-list.php",
);
const type = await response.json();
---
<footer>
  <div class="footerContent">
    <div class="footerLeft">
      <ul class="footerList">
        <li class="footerItem">
          <h3 class="itemTitle">關於我們</h3>
          <div class="itemlist">
            <a href="/abouts/story">建立-故事</a>
            <a href="/abouts/web">關於網站</a>
          </div>
        </li>
        <li class="footerItem">
          <h3 class="itemTitle">文章與郵集</h3>
          <div class="itemlist">
            <a href="/articles/article">文章-閱讀</a>
            <a href="/articles/introduction">郵集-介紹</a>
            <a href="/articles/story">郵集-故事</a>
            <a href="/articles/exhibition">郵集-展示</a>
          </div>
        </li>
        <li class="footerItem">
          <h3 class="itemTitle">展品介紹</h3>
          <div class="itemlist">
            {type.map((item)=>{
              return <a href={`/exhibits/${item.typeEN}`}>{item.type}</a>
             })}
          </div>
        </li>
        <li class="footerItem">
          <h3 class="itemTitle">線上商店</h3>
          <div class="itemlist">
            <a href="">Shopee</a>
            <a href="">Ebay</a>
            <a href="">Yahoo</a>
          </div>
        </li>
        <li class="footerItem">
          <h3 class="itemTitle">聯絡我們</h3>
          <div class="itemlist">
            <a href="">E-mail</a>
            <a href="">線上留言</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footerRight">DRC</div>
  </div>
  <div class="footerBottom">
    <div class="copyright">
      Copyright © DRC收藏家. All Rights Reserved.
    </div>
  </div>
</footer>