---

---
<header>
  <div class="logo">
    <i>DRC</i>
  </div>

  <div class="navigation__gap"></div>

  <div class="navigation">
    <div class="navigation__primary">
      <ul>
        <li>
          <h3>關於我們</h3>
          <div class="navigationItem">
            <a href="/abouts/story">建立-故事</a>
            <a href="/abouts/web">關於網站</a>
          </div>
        </li>
        <li>
          <h3>文章與郵集</h3>
          <div class="navigationItem">
            <a href="/articles/article">文章-閱讀</a>
            <a href="/articles/introduction">郵集-介紹</a>
            <a href="/articles/story">郵集-故事</a>
            <a href="/articles/exhibition">郵集-展示</a>
          </div>
        </li>
        <li>
          <h3>展品介紹</h3>
          <div class="navigationItem">
            <a href="/exhibits/FDC">首日封</a>
            <a href="/exhibits/RegisteredCover">實寄封</a>
            <a href="/exhibits/OtherPostalCovers">其他郵封</a>
            <a href="/exhibits/Stamp">郵票</a>
            <a href="/exhibits/Postcard">明信片</a>
            <a href="/exhibits/PostalCard">郵簡</a>
          </div>
        </li>
        <li>
          <h3>線上商店</h3>
          <div class="navigationItem">
            <a href="">Shopee</a>
            <a href="">Ebay</a>
            <a href="">Yahoo</a>
          </div>
        </li>
        <li>
          <h3>聯絡我們</h3>
          <div class="navigationItem">
            <a href="">E-mail</a>
            <a href="">線上留言</a>
          </div>
        </li>
        <li class="searchIcon">
          <h3>
            <i class="fa-solid fa-magnifying-glass"></i>
          </h3>
        </li>
        <li>
          <h3>
            <i class="fa-solid fa-language"></i>
          </h3>
        </li>
      </ul>
    </div>

    <form action="" class="search">
      <input type="text" class="searchInput" />
      <button type="submit" class="searchSubmit">送出</button>
    </form>
  </div>

  <div class="mobileNavigation">
    <a class="mobilemain">
      <span></span>
    </a>
  </div>

  <section class="mobilemenu">
    <div class="bgbox">
      <img src="../stamp013-1.png" alt="" draggable="false" />
    </div>
    <a class="closeBox">
      <span></span>
    </a>
    <div class="menucontent">
      <ul>
        <form action="" class="menuSearch">
          <input type="text" class="menuSearchInput" />
          <button type="submit">送出 </button>
        </form>
        <li class="menuitem">
          <h3>關於我們</h3>
          <div class="menulist">
            <a href="/abouts/story">建立-故事</a>
            <a href="/abouts/web">關於網站</a>
          </div>
        </li>
        <li class="menuitem">
          <h3>文章與郵集</h3>
          <div class="menulist">
            <a href="/articles/article">文章-閱讀</a>
            <a href="/articles/introduction">郵集-介紹</a>
            <a href="/articles/story">郵集-故事</a>
            <a href="/articles/exhibition">郵集-展示</a>
          </div>
        </li>
        <li class="menuitem">
          <h3>展品介紹</h3>
          <div class="menulist">
            <a href="/exhibits/FDC">首日封</a>
            <a href="/exhibits/RegisteredCover">實寄封</a>
            <a href="/exhibits/OtherPostalCovers">其他郵封</a>
            <a href="/exhibits/Stamp">郵票</a>
            <a href="/exhibits/Postcard">明信片</a>
            <a href="/exhibits/PostalCard">郵簡</a>
          </div>
        </li>
        <li class="menuitem">
          <h3>線上商店</h3>
          <div class="menulist">
            <a href="">Shopee</a>
            <a href="">Ebay</a>
            <a href="">Yahoo</a>
          </div>
        </li>
        <li class="menuitem">
          <h3>聯絡我們</h3>
          <div class="menulist">
            <a href="">E-mail</a>
            <a href="">線上留言</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</header>