---

---

<section class="lightBoxArea">
  <div class="lightBox">
    <div class="lightBoxContent">
      <div class="lightBoxImg">
        <img src=`` alt="" data-id=`` draggable="false" />
      </div>
      
    </div>
    <div class="lightBoxInfo">
      <div class="infoContent">
        <p class="time"></p>
        <p class="theme"></p>
        <p class="country_id"></p>
        <p class="country_from"></p>
        <p class="country_to"></p>
        <p class="remark"></p>
      </div>
      <div class="secImg"></div>
      <div class="lightBoxclose">
        <button type="button">關閉</button>
      </div>
    </div>
  </div>
</section>
