@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Cactus Classical Serif", "Wittgenstein", serif;
}

html {
  scroll-behavior: smooth;
}

.indexPage {
  background: url("../assets/BGI.jpg") no-repeat center / cover;
}

.loadingArea {
  // display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15000;
  width: 100%;
  height: 100vh;
  opacity: 1;
  pointer-events: none;
  background: rgb(197, 197, 197);
  &.show {
    animation: fadeOut 2s forwards linear;
    animation-delay: 3s;
  }
  .loadingName {
    font-size: 68px;
    position: absolute;
    top: calc(45% - 26px);
    left: 20%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    span:nth-child(2) {
      font-size: 54px;
      margin-left: 50px;
      text-transform: uppercase;
    }
  }
  .loadingLine {
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    left: calc(20% + 150px);
    top: calc(45% - 7px);
    transition: 0.2s;
    &::before {
      content: "";
      width: 150px;
      height: 2px;
      position: absolute;
      background-color: #fff;
      top: 50%;
      right: -160px;
    }
    &::after {
      content: "";
      height: 2px;
      width: 0px;
      position: absolute;
      top: 50%;
      right: -160px;
      background-color: #000000;
      animation: loadingani 2s linear;
      animation-delay: 900ms;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 100;

  .logo {
    width: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-left: 50px;
  }

  .navigation__gap {
    flex: 1 0 auto;
  }

  .navigation {
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    .navigation__primary ul {
      display: flex;
      list-style: none;
      align-self: flex-end;
      background-color: #f0f0f0;
      padding-right: 50px;
      li {
        padding: 30px 30px;
        position: relative;
        &:hover {
          .navigationItem {
            display: grid;
            animation: scroll 1.5s ease-in-out forwards;
          }
        }
        h3 {
          cursor: pointer;
          color: #000000;
          transition: all 0.5s;
          font-size: 18px;
          font-weight: 500;
          &:hover {
            color: rgb(114, 69, 0);
          }
        }
        .navigationItem {
          position: absolute;
          display: none;
          width: 150px;
          background-color: #fff;
          left: calc(50% - 65px);
          top: 100%;
          text-align: center;
          overflow: hidden;
          transition: 0.5s all ease-in-out;
          max-height: 0;
          a {
            padding: 20px 10px;
            color: #666;
            border-bottom: 1px solid #999;
            transition: 0.5s all ease-in-out;
            &:hover {
              color: #fff;
              background-color: #999;
            }
          }
        }
      }
    }
    .search {
      display: flex;
      height: 0;
      transition: 0.5s all ease-in-out;
      background: #665041;

      .searchInput {
        width: 90%;
        border: none;
        background: #836653;
        color: #fff;
        padding: 10px;
        font-size: 18px;
        &:focus {
          outline: none;
        }
      }
      .searchSubmit {
        width: 10%;
        border-radius: 0;
        border: none;
        font-size: 18px;
        background: #665041;
        color: #fff;
      }
    }
  }

  .mobileNavigation {
    display: none;

    .mobilemain {
      position: absolute;
      display: block;
      top: 16px;
      right: 24px;
      width: 48px;
      height: 48px;
      border-radius: 15%;
      background-color: #000000;
      cursor: pointer;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -0.5px;
        width: 26px;
        height: 1px;
        background-color: #ffffff;
        transition: all 0.5s;
        box-sizing: border-box;
        &::before {
          content: "";
          top: -7px;
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #ffffff;
          transition: all 0.5s;
        }
        &::after {
          content: "";
          bottom: -7px;
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #ffffff;
          transition: all 0.5s;
        }
      }
    }
  }

  .mobilemenu {
    display: none;
  }
}

main {
  .bannerArea {
    position: relative;

    .bannerBG img {
      width: 100%;
      margin-top: -200px;
    }

    .bannerTex {
      color: #ffffff;
      position: absolute;
      top: calc(50% - 150px);
      background-color: hsla(0, 0%, 100%, 0.3);
      padding: 40px 80px;
      line-height: 300%;

      .texTitle {
        font-size: 46px;
      } 

      .texSubtitle {
        font-size: 32px;
      }
    }

    // .bannerScroll {
    //   writing-mode: vertical-lr;
    //   letter-spacing: 3px;
    //   font-size: 16px;
    //   font-weight: bold;
    //   position: absolute;
    //   bottom: 50px;
    //   left: calc(50% - 12px);
    //   display: block;
    //   color: #ffffff;
    //   text-transform: uppercase;
    //   &::before {
    //     content: "";
    //     width: 1px;
    //     height: 100px;
    //     position: absolute;
    //     bottom: -110px;
    //     left: calc(50% - 2px);
    //     background-color: #fff;
    //   }
    //   &::after {
    //     content: "";
    //     width: 1px;
    //     height: 100px;
    //     position: absolute;
    //     bottom: -110px;
    //     left: calc(50% - 2px);
    //     background-color: #000000;
    //     animation: scroll 2s ease-in-out infinite;
    //   }
    // }
  }

  .introduceArea {
    position: relative;
    padding: 100px 0 100px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    .introduceImg {
      img {
        width: 1200px;
        position: absolute;
        top: -150px;
        z-index: -1;
        opacity: 0.5;
      }
    }
  }

  .aboutArea {
    position: relative;
    margin: auto;
    padding: 100px 0 0px;
    width: 1200px;

    .aboutBg {
      background: url("../assets/stamp009-1.jpg") center center / contain no-repeat;
      width: 70%;
      height: 40%;
      position: absolute;
      background-attachment: fixed;
      bottom: -50px;
      z-index: -1;
      right: 0;
    }

    .aboutLi {
      list-style: none;
      display: flex;
      .aboutMore {
        margin: 20px auto 0;
        display: block;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 0;
        font-size: 20px;
        color: #fff;
        background-color: #333;
        border: none;
      }

      .aboutImg img {
        width: 700px;
        position: relative;
        top: 0;
        margin: 10px;
      }

      .aboutImg2 img {
        width: 600px;
        position: relative;
        top: 0px;
        margin: 10px;
      }
    }
  }

  .severArea {
    padding: 100px 0 100px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }

    .serveBg {
      background: url("../assets/stamp002-2.jpg") center center / cover no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      background-attachment: fixed;
    }  

    .serveCarousel {
      padding-top: 100px;
      position: relative;

      .swiper-container {
        overflow: hidden;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
        transform: scale(0.8) !important;

        .swiperCentent {
          position: relative;
          z-index: 2;

          .swiperTitle {
            position: absolute;
            bottom: 50px;
            left: 10px;
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
          }

          .swiperTitleEn {
            position: absolute;
            bottom: 15px;
            left: 10px;
            letter-spacing: 8px;
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
          }

          .swiperArticle {
            position: absolute;
            color: #fff;
            font-size: 20px;
            transform: translate3d(0, 100%, 0);
            left: 10px;
            opacity: 0;
            transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
          }
        }

        a::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transform: translate3d(0, -100%, 0);
          background: #2e2e2e;
          z-index: 1;
          transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
        }

        a:hover {
          &::after {
            opacity: 0.9;
            transform: translateZ(0);
          }

          & .swiperCentent {
            .swiperTitle {
              transform: translate3d(0, -200%, 0);
            }

            .swiperTitleEn {
              transform: translate3d(0, -400%, 0);
            }

            .swiperArticle {
              transform: translate3d(0, -300%, 0);
              opacity: 1;
            }
          }
        }
      }

      .swiper-slide-active,
      .swiper-slide-duplicate-active {
        transform: scale(1) !important;
        z-index: 1;
      }
    }
  }

  .articleArea {
    background: url("../assets/BGI.jpg") no-repeat center / cover;
    padding: 100px 0 100px;
    position: relative;

    .articleContent {
      display: flex;
      overflow: hidden;

      .articleInfo {
        width: calc(100% - 600px);
        padding: 0 60px 0 200px;
        margin-top: 80px;

        .articleMore {
          margin-top: 20px;
          display: block;
          width: 150px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          border-radius: 0;
          font-size: 20px;
          color: #fff;
          background-color: #333;
          border: none;
        }

        .articleList {
          .articleBox {
            display: flex !important;
            justify-content: flex-start;
            height: 80px;
            align-content: center;
            flex-wrap: wrap;
            border-bottom: 1px solid #c0c0c0;

            .articleDate {
              font-size: 16px;
              line-height: 35px;
              letter-spacing: 0.8px;
              position: relative;
              padding: 0 50px 0;

              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 35px;
                background-color: rgb(114, 61, 0);
                margin-left: 15px;
              }
            }

            .articleTex {
              font-weight: 600;
              font-size: 16px;
              line-height: 35px;
              letter-spacing: 0.8px;
              position: relative;

              &:hover {
                &::after {
                  content: "";
                  width: 0%;
                  height: 1px;
                  background-color: #999;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  animation: TextScroll 0.5s ease-in-out forwards;
                }
              }

              a {
                color: #333;
              }
            }
          }
        }
      }

      .articleImg {
        width: 600px;
        margin-top: 50px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-image: url("../assets/BGI2.png");
  padding-top: 50px;

  .footerContent {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;

    .footerLeft {
      width: calc(100% - 300px);

      .footerList {
        display: flex;
        justify-content: space-around;

        .footerItem {
          width: 100%;
          padding-right: 20px;

          .itemTitle {
            font-size: 18px;
            font-weight: bold;
          }

          .itemlist {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 20px;

            a {
              color: #666;
              transition: 0.5s;

              &:hover {
                color: #724400;
              }
            }
          }
        }
      }
    }

    .footerRight {
      background-color: #fff;
      width: 300px;
      height: 200px;
    }
  }

  .footerBottom {
    height: 50px;
    background-color: #666;

    .copyright {
      width: 1260px;
      margin: 0 auto;
      line-height: 50px;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      text-align: right;
    }
  }
}

.titleTex {
  position: relative;
  padding: 20px 0 0 0;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #724400;
    left: calc(50% - 16px);
    top: 0;
  }

  .titleHead {
    letter-spacing: 8px;
    font-size: 48px;
  }

  .titleBody {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .titleCentent {
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 16px;
  }
}

.beforeNone {
  &::before {
    content: none;
  }
}

@keyframes scroll {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 1000px;
  }
}

@keyframes TextScroll {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes loadingani {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1201px) {
  body {
    overflow: auto !important;
  }
  header {
    .mobilemenu {
      display: none !important;
    }
  }
}

@media (max-width: 1200px) {
  header {
    .navigation {
      display: none;
    }

    .mobileNavigation {
      display: block;
    }

    .mobilemenu {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      transition: 0.8s all ease-in-out;
      right: -100%;
      top: 0;
      padding: 100px 0;
      &.show {
        right: 0%;
      }

      .bgbox {
        img {
          width: 100%;
          position: absolute;
          bottom: 150px;
          opacity: 0.5;
          z-index: -1;
        }
      }

      .closeBox {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        span {
          position: absolute;
          width: 26px;
          height: 1px;
          box-sizing: border-box;
          background-color: transparent;
          transform: translateX(-50%);
          top: 50%;
          left: 50%;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000000;
            transform: rotate(45deg);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000000;
            transform: rotate(-45deg);
          }
        }
      }

      .menucontent {
        width: 800px;
        margin: auto;
        font-size: 16px;
        line-height: 80px;
        padding: 50px 0;
        .menuitem {
          border-bottom: 1px solid #cecece;
          display: flex;
          h3 {
            color: #000000;
            position: relative;
            padding: 0 20px 0 0;
            width: 100px;
            &::after {
              content: "";
              position: absolute;
              top: 25px;
              right: 0;
              width: 1px;
              height: 30px;
              background-color: #724400;
            }
          }
          .menulist {
            margin-left: 30px;
            a {
              margin-left: 20px;
              color: #999;
              transition: 0.2s all ease-in-out;
              position: relative;
              &:hover {
                color: #333;
                &::after {
                  position: absolute;
                  content: "";
                  max-width: 30px;
                  width: 100%;
                  height: 3px;
                  background-color: #724400;
                  bottom: -5px;
                  left: 0;
                  animation: TextScroll 0.5s ease-in-out forwards;
                }
              }
            }
          }
        }
        .menuSearch {
          display: flex;
          transition: 0.5s all ease-in-out;
          justify-content: center;
          .menuSearchInput {
            width: 60%;
            border: none;
            background: #b4b4b4;
            color: #fff;
            height: 20px;
            padding: 10px;
            &:focus {
              outline: none;
            }
          }
          button {
            width: 10%;
            border-radius: 0;
            border: none;
            font-size: 18px;
            background: #969595;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  main {
    .bannerArea {
      overflow: hidden;

      .bannerBG {
        img {
          min-width: 1260px;
        }
      }

      .bannerTex {
        background: none;
        padding: 0 80px;

        .texTitle {
          font-size: 32px;
        }

        .texSubtitle {
          font-size: 24px;
        }
      }
    }

    .introduceArea {
      width: 95%;

      .titleTex {
        width: 90%;
        margin: auto;
      }

      .introduceImg {
        img {
          width: 100%;
        }
      }
    }

    .aboutArea {
      width: 80%;

      .aboutLi {
        .aboutImg {
          img {
            width: 500px;
            top: 50px;
          }
        }

        .aboutImg2 {
          img {
            width: 500px;
            top: 0;
          }
        }
      }

      .aboutBg {
        width: 60%;
        bottom: 10px;
        height: 40%;
      }
    }

    .articleArea {
      .articleContent {
        .articleInfo {
          padding: 0 60px 0 100px;
        }
      }
    }
  }

  footer {
    .footerContent {
      width: 80%;

      .footerLeft {
        .footerList {
          .footerItem {
            .itemTitle {
              font-size: 16px;
            }

            .itemlist {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .footerBottom {
      .copyright {
        width: 95%;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .mobilemenu {
      .menucontent {
        width: 80%;
      }
    }
  }
  main {
    .aboutArea {
      width: 95%;

      .aboutLi {
        flex-direction: column-reverse;

        .titleTex {
          .titleCentent {
            width: 90%;
            margin: auto;
          }
        }

        .aboutImg {
          img {
            width: 80%;
            top: 0;
            left: 10%;
          }
        }
      }

      .aboutLi:nth-child(3) {
        display: none;
      }

      .aboutBg {
        display: none;
      }
    }

    .articleArea {
      .articleContent {
        .articleInfo {
          padding: 0 30px 0 50px;
          width: calc(100% - 400px);

          .articleList {
            .articleBox {
              align-content: start;
              flex-direction: column;
              justify-content: center;

              .articleDate {
                padding: 0;

                &::after {
                  content: none;
                }
              }
            }
          }
        }

        .articleImg {
          width: 400px;
        }
      }
    }

    .severArea {
      .serveCarousel {
        .swiper-slide {
          a:hover {
            .swiperCentent {
              text-align: left;

              .swiperTitle {
                transform: translate3d(0, -300%, 0);
                font-size: 24px;
              }

              .swiperTitleEn {
                transform: translate3d(0, -250%, 0);
                font-size: 24px;
              }

              .swiperArticle {
                transform: translate3d(0, -200%, 0);
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .loadingArea {
    .loadingName {
      font-size: 48px;
      span:nth-child(2) {
        font-size: 32px;
      }
    }
    .loadingLine {
      font-size: 20px;
      left: calc(20% + 110px);
      top: calc(45% - 10px);
      &::before {
        width: 80px;
        right: -90px;
      }
      &::after {
        width: 80px;
        right: -90px;
      }
    }
  }

  header {
    .mobilemenu {
      .menucontent {
        .menuSearch {
          font-size: 14px;
          button {
            font-size: 14px;
          }
        }
      }
    }
  }
  main {
    .introduceArea {
      padding: 50px 0 50px 0;

      .titleTex {
        width: 100%;
      }

      .introduceImg {
        img {
          top: 10px;
        }
      }
    }

    .aboutArea {
      padding: 50px 0 0;

      .aboutLi {
        .titleTex {
          .titleCentent {
            width: 95%;
          }
        }
      }
    }

    .severArea {
      padding: 50px 0 100px;

      .serveCarousel {
        .swiper-container {
          overflow: unset;
        }

        .swiper-slide {
          transform: scale(1.2) !important;

          .swiperCentent {
            .swiperTitle {
              font-size: 24px;
            }

            .swiperTitleEn {
              font-size: 24px;
            }

            .swiperArticle {
              font-size: 20px;
            }
          }

          a:hover {
            .swiperCentent {
              text-align-last: left;

              .swiperTitle {
                transform: translate3d(0, -150%, 0);
                font-size: 20px;
              }

              .swiperTitleEn {
                transform: translate3d(0, -150%, 0);
                font-size: 20px;
              }

              .swiperArticle {
                transform: translate3d(0, -120%, 0);
                font-size: 14px;
              }
            }
          }
        }

        .swiper-slide-active,
        .swiper-slide-duplicate-active {
          transform: scale(1.5) !important;
          z-index: 1;
        }
      }
    }

    .articleArea {
      padding: 50px 0 50px;

      .articleContent {
        justify-content: space-around;

        .articleImg {
          display: none;
        }

        .articleInfo {
          width: 80%;
          padding: 0 30px 0 30px;
          margin: 30px auto;

          .articleMore {
            margin: 10px auto;
          }
        }
      }
    }
  }

  footer {
    .footerContent {
      width: 95%;

      // flex-direction: column;
      .footerLeft {
        width: calc(100% - 150px);
      }

      .footerRight {
        width: 150px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    .mobilemenu {
      overflow-y: scroll;
      .menucontent {
        line-height: 50px;
        .menuitem {
          flex-direction: column;
          align-items: center;
          h3 {
            padding: 0;
            width: auto;
            &::after {
              content: none;
            }
          }
          .menulist {
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            a {
              margin-left: 0;
              &:hover {
                &::after {
                  bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    .severArea {
      .serveCarousel {
        .swiper-slide {
          .swiperCentent {
            .swiperTitle {
              font-size: 20px;
            }

            .swiperTitleEn {
              font-size: 20px;
            }

            .swiperArticle {
              font-size: 14px;
            }
          }

          a:hover {
            .swiperCentent {
              .swiperTitle {
                transform: translate3d(0, 0%, 0);
                font-size: 16px;
              }

              .swiperTitleEn {
                transform: translate3d(0, -100%, 0);
                font-size: 16px;
              }

              .swiperArticle {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  main {
    .bannerArea {
      .bannerTex {
        .texTitle {
          font-size: 24px;
        }
        .texSubtitle {
          font-size: 16px;
        }
      }
    }
    .articleArea {
      .articleContent {
        .articleInfo {
          .articleList {
            .articleBox {
              height: auto;
            }
          }
        }
      }
    }

    .severArea {
      .serveCarousel {
        .swiper-slide {
          transform: scale(1.5) !important;

          .swiperCentent {
            .swiperTitle {
              bottom: 30px;
              font-size: 16px;
            }

            .swiperTitleEn {
              letter-spacing: normal;
              font-size: 16px;
            }

            .swiperArticle {
              display: none;
            }
          }

          a:hover {
            .swiperCentent {
              .swiperTitle {
                transform: translate3d(0, 0%, 0);
              }

              .swiperTitleEn {
                transform: translate3d(0, 50%, 0);
              }
            }
          }
        }

        .swiper-slide-active,
        .swiper-slide-duplicate-active {
          transform: scale(2) !important;
        }
      }
    }
  }

  footer {
    .footerContent {
      flex-direction: column;
      text-align: center;

      .footerLeft {
        width: 95%;
        align-self: center;

        .footerList {
          .footerItem {
            padding: 0;
          }
        }
      }

      .footerRight {
        margin-top: 20px;
        align-self: center;
      }
    }

    .footerBottom {
      .copyright {
        font-size: 10px;
      }
    }
  }
}
