---
import "/src/styles/style.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const { pagetitle, bodyClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta name="description" content="郵票，郵封，首日封，實寄封，其他郵封" />
    <meta
      name="description"
      content="創建網站來展示和分享這些珍貴的郵封；首先設計網站的雛形，選擇了一個簡潔而優雅的界面，讓用戶能夠輕松舒適的瀏覽各式郵封照片，以及詳盡的描述和歷史背景。"
    />
    <meta property="og:title" content="DRC收藏家" />
    <meta
      property="og:image"
      content="https://drc-collector.com/images/stamp.png"
    />
    <meta
      property="og:description"
      content="創建網站來展示和分享這些珍貴的郵封；首先設計網站的雛形，選擇了一個簡潔而優雅的界面，讓用戶能夠輕松舒適的瀏覽各式郵封照片，以及詳盡的描述和歷史背景。"
    />
    <link rel="icon" href="/images/stamp.png" />
    <link rel="apple-touch-icon" href="/images/stamp.png" />
    <title>DRC收藏家 | 郵票郵封 | {pagetitle}</title>
  </head>
  <body class={bodyClass}>
    <!-- header -->
    <Header />

    <slot />

    <!-- Footer -->
    <Footer />

    <script src="/src/scripts/main.js"></script>
  </body>
</html>
